<nav>
  <ul>
<%
if page.ancestors.length == 1
  %><li class="current root"><%= page.title %></li><%
else
  %><li class="root"><%= link_for_page page.ancestors.first %></li><%
  page.ancestors[1..-2].each do |i|
    %><li class="intermediate"><%= link_for_page i %></li><%
  end
  %><li class="current"><%= page.title %></li><%
end

page.children.each do |i|
  %><li class="subpage"><%= link_for_page i%></li><%
end
%>
  </ul>
</nav>